## (Using Jedi powers) This it not the gitignore you are looking for
## This is the .gitignore for this repository - you want the .gitignore from your cloud repository
## So please ignore this gitignore :) 
**/.DS_Store
